<div class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container-fluid nav-padding">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Study Group</a>

    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Welcome, {{first_name}}</p></li>
        <li><a data-toggle="modal" data-target="#inboxModal" href=""><span class="h4 glyphicon glyphicon-envelope"></span></a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="h4 glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu">
            <li><a data-toggle="modal" data-target="#helpModal" href="">Help</a></li>
            <li><a data-toggle="modal" data-target="#editProfileModal" href="">Edit Profile</a></li>
            <li><a ng-click="logout()" href="">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<main-screen show-interface="true" blur-map="false" map-lat="48.4630959" map-long="-123.3121053" zoom="17" class="fill"></main-screen>

<!-- Edit Profile Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Profile<br /><small>Please modify any of the fields below to update your StudyGroup profile.</small></h4>
      </div>
      <div class="modal-body">
        <form name="updateUserForm" class="form-horizontal" role="form" ng-submit="submitRegistration()" novalidate>
          <!-- Username -->
          <div class="form-group">
              <label class="col-sm-2 control-label">Username</label>
              <div class="col-sm-10">
                <input class="form-control" style="cursor: default" id="disabledInput" type="text" placeholder="{{staticUsername}}" disabled>
              </div>
          </div>
          <!-- Full Name -->
          <div class="form-group">
              <label class="col-sm-2 control-label">Full Name</label>
              <div class="col-sm-10">
                <input type="text" name="name" class="form-control" ng-model="newFirstName" placeholder="Full Name (Optional)">
              </div>
          </div>
          <!-- Email -->
          <div class="form-group" ng-class="{ 'has-error' : updateUserForm.email.$invalid && hasSubmitted || emailPostError }">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" name="email" class="form-control" ng-model="newEmail" required placeholder="Email">
              <p ng-show="emailPostError" class="help-block">{{emailErrorMessage}}</p>
              <p ng-show="updateUserForm.email.$invalid && hasSubmitted" class="help-block">Please enter a valid email.</p>
            </div>
          </div>
          <!-- Password -->
          <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <button type="button" ng-show="!showChangePassword" ng-click="showChangePassword = true; hasSubmitted = false;" class="btn btn-primary">Change Password</button>
              <div ng-show="showChangePassword" class="well" style="margin-bottom: 0px;">
                <!-- Current Password -->
                <div class="form-group" ng-class="{ 'has-error' : showChangePassword && updateUserForm.password.$invalid && hasSubmitted }">
                  <label class="col-sm-4 control-label">Current Password</label>
                  <div class="col-sm-8">
                    <input type="password" name="password" class="form-control" ng-model="userPassword" ng-required="showChangePassword">
                    <p ng-show="updateUserForm.password.$error.required && !updateUserForm.password.$error.passwordIncorrect && hasSubmitted" class="help-block">Please enter your current password.</p>
                    <p ng-show="updateUserForm.password.$error.passwordIncorrect && hasSubmitted" class="help-block">The password you entered does not match the one we have on file for you! Please try again.</p>
                  </div>
                </div>
                <!-- New Password -->
                <div class="form-group" ng-class="{ 'has-error' : showChangePassword && updateUserForm.newPassword.$invalid && hasSubmitted }">
                  <label class="col-sm-4 control-label">New Password</label>
                  <div class="col-sm-8">
                    <input type="password" name="newPassword" class="form-control" ng-model="newPassword" ng-required="showChangePassword">
                    <p ng-show="updateUserForm.newPassword.$error.required && hasSubmitted" class="help-block">Please enter a new password.</p>
                  </div>
                </div>
                <!-- Confirm Password -->
                <div class="form-group" ng-class="{ 'has-error' : showChangePassword && updateUserForm.verifyPassword.$invalid && hasSubmitted }">
                  <label class="col-sm-4 control-label">Verify Password</label>
                  <div class="col-sm-8">
                    <input type="password" name="verifyPassword" class="form-control" ng-model="verifyPassword" ng-required="showChangePassword">
                    <p ng-show="updateUserForm.verifyPassword.$error.required && hasSubmitted" class="help-block">Please verify your new password.</p>
                    <p ng-show="updateUserForm.verifyPassword.$error.passwordMatch && hasSubmitted" class="help-block">The passwords you entered do not match!</p>
                  </div>
                </div>
                <!-- Hide Button -->
                <div class="form-group" style="margin-bottom: 0px">
                  <div class="col-sm-12">
                    <button style="float: right;" type="button" ng-click="  showChangePassword = false" class="btn btn-default">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="submitAccountUpdate()" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Help Modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          Help<br />
          <small>Just in case.</small>
        </h4>
      </div>
      <div class="modal-body">
        Some sort of help should be here.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="contactHuman()" class="btn btn-primary">Contact a human</button>
      </div>
    </div>
  </div>
</div>

<!-- Inbox Modal -->
<div class="modal fade" id="inboxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          Messages<br />
          <small>The Social aspect of StudyGroup</small>
        </h4>
      </div>
      <div class="modal-body">
        Messages go here.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
