<div class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container-fluid nav-padding">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Study Group</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Welcome, {{full_name}}</p></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="h4 glyphicon glyphicon-cog"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Sessions</a></li>             
            <li class="divider"></li>          
            <li><a href="">Edit Profile</a></li>
            <li><a ng-click="logout()" href="">Sign Out</a></li>            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>