<div class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Study Group</a>
    </div>
    <div class="navbar-collapse collapse">
      <form name="loginForm" class="navbar-form navbar-right" role="form" ng-class="{ 'has-error' : loginError}">
        <div class="form-group">
          <input type="text" name="username" ng-model="login.username" placeholder="Username" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" name="password" ng-model="login.password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" ng-click="login()" class="btn btn-primary">Log In</button>        
        <button type="submit" ng-click="showSignUp()" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
</div>

<div class="signup-wrapper fade-transition" ng-show="dimMap">
  <div class="container signup-wrapper-inner">
    <div class="home-dialog jumbotron cover-container">
      
      <div ng-show="showWelcome" id="welcome_content" class="inner cover">
        <h1>Study better.</h1>
        <p class="lead">To find a group of students who are studying for the same courses as you right now, choose a university from the menu below and press Get Started.</p>
        <select ng-model="university" class="university-picker form-control" ng-options="university.name for university in universities"></select>
        <button type="submit" ng-click="chooseUniversity()" class="btn btn-primary btn-lg">Get Started</button>
      </div>

      <div ng-hide="showWelcome" class="inner cover">
        <h1>Join the Community.</h1>
        <p class="lead">Please complete the fields below to register.</p>
        <form name="registerForm" role="form" ng-submit="submitRegistration()" novalidate>
          <!-- Name -->
          <div class="form-group">
              <input type="text" name="name" class="form-control" ng-model="user.name" placeholder="Full Name (Optional)">
          </div>        
          <!-- Username -->
          <div class="form-group" ng-class="{ 'has-error' : (registerForm.username.$invalid && hasSubmitted) || usernamePostError}">
            <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="4" ng-maxlength="14" required placeholder="Username">           
            <p ng-show="usernamePostError" class="help-block">{{usernameErrorMessage}}</p>             
            <p ng-show="registerForm.username.$error.required && hasSubmitted" class="help-block">Please enter a username greater than 3 characters.</p>            
            <p ng-show="registerForm.username.$error.minlength && hasSubmitted" class="help-block">Please enter a username greater than 4 characters.</p>
            <p ng-show="registerForm.username.$error.maxlength && hasSubmitted" class="help-block">Please enter a username less than 15 characters.</p>
          </div>
          <!-- Password  -->
          <div class="form-group" ng-class="{ 'has-error' : registerForm.password.$invalid && hasSubmitted }">
              <input type="password" name="password" class="form-control" ng-model="user.password" required placeholder="Password">
              <p ng-show="registerForm.password.$invalid && hasSubmitted" class="help-block">Please enter a password.</p>
          </div>   
          <!-- Email  -->
          <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$invalid && hasSubmitted || emailPostError }">
              <input type="email" name="email" class="form-control" ng-model="user.email" required placeholder="Email">
              <p ng-show="emailPostError" class="help-block">{{emailErrorMessage}}</p>              
              <p ng-show="registerForm.email.$invalid && hasSubmitted" class="help-block">Please enter a valid email.</p>
          </div>
        <div class="form-group">
          <select ng-model="university" class="university-picker form-control" ng-options="university.name for university in universities"></select>          
        </div>  
        <button type="submit" ng-click="showSignUp()" class="btn btn-primary btn-lg">Register</button>
        <button type="button" ng-click="hideSignup()" class="btn btn-default btn-lg">Cancel</button>                 
        </form>
      </div>      
    </div>
  </div>
</div>

<main-screen id="main-screen" show-interface="displayUI" blur-map="dimMap" map-lat="lat" map-long="long" zoom="zoom" class="fill"></main-screen>

<div id="footer" ng-class="{'hide' : displayUI}">
  <div class="container">
    <p class="text-muted text-center">&copy; 2014 Scott Low, Justin Guze and Paul Moon</p>
  </div>
</div>
