<div class="main-screen-container container-fluid fill">
  <div class="row-fluid fill">
    <div class="float-left transition" ng-class="{'no-width' : !showInterface, 'col-xs-3 col-md-3 fill' : showInterface}"> 
      <div class="container-fluid" ng-show="showInterface">   
      <div class="sidebar">
        <button ng-show="showCreateNewSession" class="btn btn-success btn-lg" data-toggle="modal" data-target="#newSessionModal">
          New Session
        </button>
        <div style="margin-top:30px;">
            <sessionpanel></sessionpanel>
        </div>
      </div>
      </div>
    </div> 
    <div class="google-map" ng-class="{'col-xs-9 col-md-9 fill' : showInterface, 'col-xs-12 col-md-12 fill' : !showInterface}">
      <div class="course-picker navbar navbar-default" ng-class="{'course-picker-show-animation' : showInterface}">
        <div class="container" style="width: 100%;">
          <div class="navbar-collapse collapse">
            <div class="course-btn-group btn-group">
              <course-button active='active' ng-repeat="course in selectedCourses">{{course.short_name}}</course-button>
            </div>       
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="h5 glyphicon glyphicon-plus"></span></a>
                <ul class="class-search dropdown-menu scrollable-menu" role="menu" ng-click="$event.stopPropagation();">
                  <li><input type="text" class="form-control" ng-model="query" ng-change="searchForCourse()" placeholder="Search for a course"></li>          
                  <li ng-show="query.length > 0" class="divider"></li> 
                  <li ng-show="query.length > 0 && (courseList | filter:query).length === 0"><a href="">No Results</a></li>                  
                  <li  role="menuitem" ng-show="query.length > 0" ng-repeat="course in courseList | filter:query" ng-class="{disabled : course.disabled}">
                    <a class="course-item" ng-click="course.disabled || addCourse(course)" href="">
                      <h5>{{course.short_name}}<br /><small>{{course.name}}</small></h5>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>     
      </div>
      <div ng-class="{'blur' : blurMap}" class="fill" class="fill-width" lat="mapLat" long="mapLong" zoom="zoom" home-map ></div>
    </div> 
  </div>
</div>

<!-- Create New Session Modal -->
<div class="modal fade" id="newSessionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a New Session<br /><small>Please complete the following information to host your own study session.</small></h4>
      </div>
      <div class="modal-body">      
        <div class="form-group">
          <label for="modalCoursePicker">Select a course</label>
          <select ng-model="newSessionCourse" id="modalCoursePicker" class="form-control" ng-options="c as c.full_name for c in selectedCourses"></select>
        </div>
        <p><strong>Are you studying on campus or off campus?</strong></p>
        <tabset justified="true">
          <tab heading="On Campus">
            <div class="container-fluid container-modal">
              <form role="form" name="$parent.newSessionForm" novalidate ng-submit="newSessionSubmit()">
                <div style="margin-bottom: 5px" class="modal-map" lat="buildingLat" long="buildingLong" zoom="17" home-map ></div>              
                <div class="form-group">
                  <label for="modalOnCampusPicker">Pick a building</label>
                  <select ng-model="$parent.newSessionBuilding" id="modalOnCampusPicker" ng-change="buildingChange()" class="form-control" ng-options="b as b.name for b in buildingList"></select>
                  <span class="help-block">Currently selected university: {{university.name}}</span>
                </div>
                <div class="row">
                  <div class="col-xs-2 col-md-2">
                    <div class="form-group room-picker" ng-class="{ 'has-error' : newSessionSubmitted && newSessionForm.roomNumber.$invalid }">
                      <label for="modalRoomNumber">Room #:</label>
                      <input name="roomNumber" required ng-model="newSessionRoomNumber" id="modalRoomNumber" maxlength="5" class="form-control" />                      
                    </div>
                  </div>
                  <div class="col-xs-4 col-md-4" ng-class="{'has-error': newSessionSubmitted && newSessionForm.room.$invalid}">
                    <div class="form-group">
                      <label>Start date:</label>                      
                      <div class="input-group">
                        <input required type="text" name="room" class="form-control date-picker" show-weeks="false" show-button-bar="false" datepicker-popup="MM/dd/yyyy" ng-model="$parent.newSessionStartDate" is-open="$parent.opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                          <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>                       
                      </div>
                    </div>
                  </div>                    
                  <div class="col-xs-3 col-md-3">
                    <div class="form-group" ng-class="{'has-error': newSessionSubmitted && newSessionForm.startTime.$invalid}">
                      <label class="control-label"><i class="fa fa-clock-o"></i>Start time:</label>
                      <input required type="text" class="form-control" size="8" ng-model="$parent.newSessionStartTime" name="startTime" bs-timepicker>
                    </div>
                  </div>                
                  <div class="col-xs-3 col-md-3">
                    <div class="form-group" ng-class="{'has-error': newSessionSubmitted && ($parent.newSessionForm.durationHours.$invalid || $parent.newSessionForm.durationMins.$invalid)}">
                      <label style="float: left;"class="control-label"><i class="fa fa-clock-o"></i>Duration</label>
                      <input required type="text" style="float:left; clear:left; width:35px; margin-right:5px" class="form-control" ng-model="$parent.newSessionDurationHours" maxlength="1" integer placeholder="H" name="durationHours">
                      <input required type="text" style="float:left; width:50px;" class="form-control" ng-model="$parent.newSessionDurationMins" maxlength="2" integer placeholder="MM" name="durationMins">
                    </div>
                  </div>                 
                </div>
                <h5><small>Your session will start on {{$parent.newSessionStartDate.toDateString()}} at {{$parent.newSessionStartTime.toTimeString()}} and will last until {{$parent.newSessionEndTime.toTimeString()}}.</small></h5>
              </form>
            </div>
          </tab>
          <tab heading="Off Campus" disabled="true">
            <div class="container-fluid container-modal"></div>
          </tab>            
        </tabset>        
        <span class="modal-headsup help-block"><strong>Note:</strong> Your full name as it appears on your profile ({{$parent.full_name}}) will be listed to identify you as this session's coordinator.</span>   
      </div>    
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="newSessionSubmit()" class="btn btn-primary">Create Session</button>
      </div>
    </div>
  </div>
</div>